@tailwind base;
@tailwind components;
@tailwind utilities;


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: ;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  
}


.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  cursor: pointer;
  font-family: cursive;
}



.card:hover:before{
  animation: spin 2.5s linear infinite;
}

.card:hover:after {
  animation: spin 2.5s linear infinite;
}


.card::before {
  content: "";
  width: 104%;
  height: 105%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #0b3988 , #00ffa6 , #ff00d0   );
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -2%;
    
    /* animation: spin 2.5s linear infinite; */
}

.card::after {
  position: absolute;
  content: "";
  /* top: calc(var(--card-height) / 6);
  left: 1;
  right: 2; */
  transform: scale(0.8);
  /* filter: blur(calc(var(--card-height) / 6)); */
  background-image: linear-gradient(
    var(--rotate)
    , #07bbec ,#fb0000 , #bad61b );
   
    opacity: 1;
  transition: opacity .5s;
  /* animation: spin 2.5s linear infinite; */
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

